body{
	font-family: 'Sen', sans-serif;
}
 

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(181,181,181, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(181,181,181);
}

#navBar{
	padding: 30px;
	font-weight: 700;
}

#navMenu{
  color: #4B4B4B;
  font-weight: 700;
  font-size: 15px;
}

#navMenuJohn{
  color: #4B4B4B;
  font-weight: 700;
  font-size: 18px;
}

#landingJohn{
	font-size: 8vw;
	top: 0;
	font-weight: 800;
  color: #4B4B4B;
  padding-top: 100px;
}

#landingJohn2{
  font-size: 8vw;
  top: 0;
  font-weight: 800;
  color: #4B4B4B;

}

#arrowDown{
  font-size: 50px;
  color: #4B4B4B;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 40%;
  left: 0;
  background-color: none;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #818181;
  display: block;
}

.sidebar2 {
  position: fixed;
  z-index: 1;
  top: 40%;
  right: 0;
  background-color: none;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar2 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #818181;
  display: block;
}

.card-img-top{
  padding-top: 5px;
}

#footerLogo{
  width: 35px;
  height: auto;
  justify-content: center center;
  align-items: center center;
  padding:2rem 0 2rem 0;

}

#footerLogoContainer{
  align-items: center;
  justify-content: center;
}

#footerContainer{
  font-size: .8vw;
  align-items: center;
  justify-content: center;
}

#socialFooter{
  height: auto;
  width: 25px;
  right: 0;
}

#jotmFooter{
  font-size: 11px;
  color: #4B4B4B;
}


