body{
  font-family: 'Sen', sans-serif;
}
 

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(181,181,181, 100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(181,181,181);
}

#navBar{
	padding: 30px;
}

#navMenu{
  color: #4B4B4B;
  font-weight: 700;
  font-size: 15px;
}

#navMenuJohn{
  color: #4B4B4B;
  font-weight: 700;
  font-size: 18px;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 40%;
  left: 0;
  background-color: none;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #818181;
  display: block;
}

.sidebar2 {
  position: fixed;
  z-index: 1;
  top: 40%;
  right: 0;
  background-color: none;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar2 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 50px;
  width: 50px;
  color: #818181;
  display: block;
}

#selectedWorks{
  padding-top: 2rem;
}

.card{
  border:none;
}

#otherTitle{
  font-weight: 700;
  color: #7B7B7B;
  font-size: 14px;
  padding-left: 3vw;
}

#artTitle{
  font-weight: 700;
  color: #4B4B4B;  
  font-size: 16px;
  padding: 0 0 2rem 3vw;
}

#content{
  color: #4B4B4B;   
  font-size: 14px;
  padding-left: 3vw;
}

#legend{
  color: #4B4B4B;   
  font-size: 14px;
}

#back{
  color: #4B4B4B;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Sen', sans-serif;
}

#backArrow{
  color: #4B4B4B;
  padding-bottom: 3rem;
}
